:root {
  --cinza-claro: rgba(52, 58, 64, 0.4);
  --fonte-principal: "Montserrat", sans-serif;
  --fonte-logo: "Inter", sans-serif;
}

.background {
  background-color: #2c9caf;
  padding-top: 15px;
  border-radius: 20px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: hsl(210 30% 24%);
  display: flex;
  justify-content: center;
}

.content {
  margin: 0px;
  padding: 1rem;

  min-width: 25rem;
  min-height: 700px;
  max-width: 400px;
  max-height: 800px;

  background-color: #fff;
  border-radius: 25px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: left;
  font-family: var(--fonte-principal);
}

.hidden {
  display: none;
}

.invisible {
  visibility: none;
}

a {
  text-decoration: none;
}

.form * {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: none;
}

/* Campo do formulário escrito */
.form__title {
  align-items: center;
  margin: 1rem 2rem 0rem 2rem;
  color: #2c9caf;
}

.formulario__botao {
  display: none;
}

.formulario__campo {
  margin: 1rem;
  padding-right: 1rem;
}

.campo__etiqueta {
  margin-left: 0.6rem;
  margin-bottom: 0.2rem;
}

.campo__escrita {
  border: 1px solid var(--cinza-claro);
  border-radius: 20px;
  padding: 0.6em;
}

.plano__input,
.termos__input {
  margin-right: 1rem;
}

/* Campo das checkbox do formulário*/
.formulario__termos {
  flex-direction: row;
  align-self: flex-start;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Estilos do botão de enviar o formulário */
.btn__avancar {
  width: fit-content;
  padding: 0.7em 1.2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
  color: #2c9caf;
  transition: all 1000ms;
  font-size: 15px;
  overflow: hidden;
  outline: 2px solid #2c9caf;

  margin-top: 1.5rem;
  margin-bottom: 2rem;
  align-self: center;
}

.btn__avancar:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #268391;
}

.btn__avancar::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #2c9caf;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.btn__avancar:hover::before {
  width: 250%;
}
